{% extends 'base.html.twig' %}

{% block title %}New product category{% endblock %}

{% block body %}
    <h3 class="display-4">Create new product category</h3>

    {{ include('product_category/_form.html.twig') }}

    <div class="col-md-4 mb-3">
        <a class="btn btn-secondary" href="{{ path('product_category_index') }}">List of product categories</a>
    </div>
{% endblock %}
